QPKG_NAME="miniserve"
QPKG_VER="0.33.0"
QPKG_AUTHOR="GitHubActions"
QPKG_SUMMARY="一款高性能、易用的简单 HTTP 文件服务器"
# 启动顺序，建议设为 100 以上
QPKG_RC_NUM="101"
# 指定启动脚本
QPKG_SERVICE_PROGRAM="miniserve.sh"
# 安装后的目录名
QPKG_DIR_NAME="miniserve"
# 在 App Center 显示的名称
QPKG_DISPLAY_NAME="miniserve"
# 网页访问路径 (点击图标时打开)
QPKG_WEBUI="/"
# 默认端口 (需与启动脚本一致)
QPKG_WEB_PORT="8080"
# 适用的架构：x86_64, armce53xx, x19, any
QPKG_ARCHITECTURE="x86_64"
